<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.completed? ? "✅" : "❌" %><%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>

<%= link_to "Add new task", new_task_path %>
